body {
    background-color:black;
    margin:0;
    display:grid;
    grid-template-rows: 600px auto auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
    position: relative;
}

section {
    margin: 0px 40px 40px 40px;
    padding-top:30px;
    box-sizing: content-box;
    color:white;
}

h2 {
    font-family: 'Outfit', sans-serif;
    font-size: 50px;
    font-weight:500;
}

p {
    font-family: 'Switzer', sans-serif;
    font-size:20px;
    font-weight:200;
}
/*
    -------------------------------
    nav menu
    -------------------------------

*/

body > nav#menu_nav {
position:fixed;
width: 56vw;
height: 40px;
font-family: 'Outfit', sans-serif;
padding:7px;
z-index:10;
}

#menu_button, #close_menu_button {
    width: 40px;
    padding: 10px;
    margin: 0px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    transition-duration: 0.4s;
}

#close_menu_button {
    border-radius: 20px;
}

#menu_button:hover, #close_menu_button:hover {
    background-color: #ef826e;
    border: 1px solid #ef826e;
    cursor: pointer;
    transition-duration: 0.4s;
}

body > nav#menu_nav > div {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    background-color: #e7816bde;
    display:none;
}

body > nav#menu_nav > div > a {
    margin: 0px 15px;
    padding: 0px 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    border-bottom: solid 3px #00000000;
    flex-grow: 2;
}

#menu_button+div{
    align-items:center;
    align-content: stretch;
}

body > nav#menu_nav > div > a:hover {
    border-bottom: solid 3px #578268;
}

/*
    -------------------------------
    cart
    -------------------------------

*/

body > nav#cart {
    position: fixed;
    right: 0;
    height: 30px;
    font-family: 'Outfit', sans-serif;
    padding: 7px;
    z-index: 10;
}

#cart {
    display:grid;
    grid-template-columns: 1fr 40px;
    grid-template-areas:
        "cart button";
    grid-gap:3px;
}

#cart_button {
    grid-area: button;
    width: 40px;
    padding: 10px;
    margin: 0px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
    transition-duration: 0.4s;
}

#cart_button:hover {
    background-color: #ef826e;
    border: 1px solid #ef826e;
    cursor: pointer;
    transition-duration: 0.4s;
}


#cart_itself {
    grid-area:cart;
    background-color:white;
    border-radius:10px;
    display:none;
    flex-direction:column;
    padding:10px;
}

#close_cart_button {
    width: 30px;
    padding: 5px;
    margin: 0px;
    box-sizing: border-box;
    align-self: flex-end;
    border-radius:20px;
    transition-duration: 0.4s;
}

#close_cart_button:hover {
    background-color: #ef826e;
    border: 1px solid #ef826e;
    cursor: pointer;
}

#cart_itself h3 {
    font-family: 'Outfit', sans-serif;
    margin: 0 auto;
}

#cart_itself > table img {
    width: 20px;
    padding: 0px;
    margin: 0px;
    background-color: white;
    border: 1px solid white;
    border-radius: 10px;
    box-sizing: border-box;
}

#cart_itself > table {
    border-collapse: collapse;
    font-family: 'Switzer', sans-serif;
}

#cart_itself > table td {
    border: solid 1px black;
    padding: 5px;
}

/*
    -------------------------------
    grid: nivek 1: header
    -------------------------------

*/
header {
    grid-area: header;
    background-image: url('images/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 40px 6fr 1fr .5fr;
    grid-template-areas:
        "nav nav nav"
        ". . ."
        ". logo ."
        ". . .";
}

header > img {
    max-width: 70%;
    height: auto;
    margin: 10px auto;
    grid-area: logo;
}

/*
    ---------------------------------
    grid: nivel 1: main
    ---------------------------------
*/
main{
    grid-area:main;
    padding:20px;
    display: grid;
    font-family:'Century Gothic', sans-serif;
}

section h2 {
    margin: 5px auto;
    text-align: center;
}

#presentation {
    border-bottom: dotted 10px #ef826e;
}

#presentation p{
    text-indent:50px;
    text-align:justify;
}

#presentation img {
    width: 300px;
    box-sizing: border-box;
    padding: 10px;
    border: 2px dashed #e7816b;
}

#presentation img:nth-of-type(even) {
    float: left;
    margin-right: 20px;
}
#presentation img:nth-of-type(odd) {
    float: right;
    margin-left: 20px;
}

#menu {
    border: solid .5vw #518269;
    border-radius: 30px;
    position: relative;
    display:grid;
    grid-template-columns: 30px auto 30px;
    grid-template-rows: auto auto 30px;
    grid-template-areas:
        ". menu ."
        ". items ."
        ". . .";
}

#menu > img {
    grid-area:menu;
    width: 20%;
}

/*
    ------------------
    items in menu grid
    ------------------
*/
#menu > div {
    grid-area: items;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto;
    grid-template-areas:
        "nav"
        "gyozas"
        "ramens"
        "to_share"
        "alcohol"
        "soft";
}

/*
    --------------
    nav links grid
    --------------
*/

#nav_menu{
    grid-area:nav;
    padding-top:15px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "gyoza ramen share alcohol soft";
}

#nav_menu a{
    width:100%;
    text-align:center;
    text-decoration:none;
    color:black;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    font-size:100%;
    height:35px;
}

/* temporary height while there are no items */
.submenu {
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 1fr 1fr 2fr 1fr 1fr;
    gap: 15px;
    grid-template-areas:
        "gallery gallery gallery gallery gallery"
        ". . form . .";
    padding: 15px 40px;
}

/* putting items in grid and applying color */

/* gyoza menu */


#gyoza_menu {
    grid-area: gyozas;
    background-color: #ffffff;
}

#link_gyoza {
    grid-area: gyoza;
    background-color: #ffffff;
}

#ramen_menu {
    grid-area: ramens;
    background-color: #ef826e;
    display:none;
}

#link_ramen {
    grid-area: ramen;
    background-color: #ef826e;
}

#share_menu {
    grid-area: to_share;
    background-color: #b8826c;
    display:none;
}

#link_share {
    grid-area: share;
    background-color: #b8826c;
}

#alcohol_menu {
    grid-area: alcohol;
    background-color: #88826b;
    display:none;
}

#link_alcohol {
    grid-area: alcohol;
    background-color: #88826b;
}

#soft_menu {
    grid-area: soft;
    background-color: #518269;
    display:none;
}

#link_soft {
    grid-area: soft;
    background-color: #518269;
}

#gallery_gyoza, #gallery_ramen, #gallery_share, #gallery_alcohol, #gallery_soft {
    background-color: white;
    grid-area: gallery;
    align-content: center;
    justify-self: stretch;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    overflow-x: scroll;
    position: relative;
    padding: 15px;
}

.submenu > div > div {
    position: relative;
}

.submenu > div > div:hover {
    transition: all 0.5s ease;
}

.submenu > div > div > div {
    position: relative;
    transition: all 0.5s ease;
    opacity: 1;
}

.submenu > div > div:hover > div {
    opacity: 0.3;
    transform: scale(1.1);
}


.submenu h3 {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background-color: #24242478;
    border-radius: 20px;
    padding: 4px;
}

.submenu img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    object-position: center;
}

.submenu p {
    padding: 10px;
    color: black;
    position: absolute;
    top: 0;
    max-width: 100%;
    margin: 0;
    text-align: center;
    font-size: 100%;
    font-weight: 700;
    opacity: 0;
    transition: all 1s ease;
}

.submenu > div > div:hover > p {
    opacity:1;
}

#form_gyoza, #form_ramen, #form_share, #form_alcohol, #form_soft {
    grid-area: form;
}

#form_ramen fieldset p, #form_share fieldset p, #form_alcohol fieldset p, #form_soft fieldset p {
    font-size: 12px;
    margin: 0 30px;
    font-weight: 300;
}

#form_ramen fieldset:nth-of-type(1), #form_share fieldset:nth-of-type(1), #form_alcohol fieldset:nth-of-type(1), #form_soft fieldset:nth-of-type(1) {
    position: relative;
}

#form_ramen label, #form_share label, #form_alcohol label, #form_soft label {
    padding: 3px;
}

#form_ramen label:hover, #form_share label:hover, #form_alcohol label:hover, #form_soft label:hover {
    background-color: white;
    border-radius: 10px;
}

#form_ramen label:hover span, #form_share label:hover span, #form_alcohol label:hover span, #form_soft label:hover span {
    display: block;
}

/*
    -------------------
    forms
    ------------------
*/

form {
    color: black;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/*
    -------------------------------
    grid: nivel 1: footer
    -------------------------------
*/

footer {
    background-color: #b9816a;
    padding: 20px;
    grid-area: footer;
    font-family: 'Outfit', sans-serif;
}

footer>section{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:10px;
    color:black;
    margin:10px;
    padding:10px;
}

#social_media_buttons>img{
    width:30px;
}