@media screen and (max-width:1200px) {
    .submenu img {
        width: 250px;
        height: 180px;
    }
}

@media screen and (max-width:880px) {
    form {
        flex-direction: column;
        align-content: center;
    }
    #nav_menu a{
        font-size:80%;
    }
    .submenu img {
        width: 200px;
        height: 150px;
    }
    .submenu {
        padding: 15px 25px;
    }
    .submenu h3 {
        font-size: 85%;
    }
    .submenu p {
        font-size: 90%;
    }
    main {
        padding: 15px;
    }
    #cart_itself {
        font-size: 90%;
    }
    p {
        font-size: 90%;
    }
}

@media screen and (max-width:650px) {
    #nav_menu a {
        font-size: 60%;
    }
    .submenu img {
        width: 180px;
        height: 120px;
    }
    .submenu h3 {
        font-size: 75%;
    }
    .submenu p {
        font-size: 80%;
    }
    #cart_itself {
        font-size: 80%;
    }
}

@media screen and (max-width:580px) {
    .submenu img {
        width: 150px;
        height: 100px;
    }
    .submenu h3 {
        font-size:60%;
    }
    .submenu p {
        font-size: 70%;
    }
    .submenu > div {
        padding: 5px;
    }
    #presentation img{
        display:block;
        width:90%;
        margin:20px auto;
    }
    main {
        padding: 10px;
    }
    section {
        margin: 0px 20px 20px 20px;
    }
    #cart_itself{
        font-size:70%;
    }
    p{
        font-size:80%;
    }
    #menu_nav > div{
        flex-direction:column;
        align-items:start;
    }
}
